@model WebApplication4.Models.Titulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Titulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Institucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Institucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCandidato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idTitulo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
